ssm/notebooks
ssm/checkpoints
ssm/visualisations

ssn2v/notebooks
ssn2v/checkpoints
ssn2v/_notebooks

.ipynb_checkpoints

# Python cache files
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
venv/
env/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Editor specific files
.vscode/
.idea/
*.swp
*.swo

stage2/old

ssn2v/outputs
ssn2v/stage2/checkpoints

notebooks

noise2noise

noise2self

noise2void

**/checkpoints/
*.pth
*.ipynb
*.yaml
*.png

.env

*.npz
*.json

utils/old
schemas/phf
old/*
configs/eval.yaml
configs/n2_config.yaml
configs/preprocessing.yaml
configs/ssm_config.yaml

src/ssm/old

checkpoints_old

**/old/

good_checkpoints

.venv